* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fff;
  color: #1f1534;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background-color: white;
}
.N-Logo{
  align-items: center;
  display: flex;
}
.logo{
  font-weight: bold;
  font-size: 18px;
  margin-left: 20px;
  position: relative;
  color: #1f1534;
}

.logo-text {
  font-weight: bold;
  font-size: 1.2rem;
  color: #1f1534;
}

.logo-text span {
  margin-left: 8px;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #7d7987;
  position: relative;
}

nav button{
  background-color: #4CAF4F;
  color: #fff;
  border: none;
  border-radius: 1px;
  font-family: sans-serif;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
button span{
  padding: 8px;
}
.conteiner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 10%;
  gap: 40px;
}

.text {
  flex: 1;
  max-width: 500px;
}
.text h1{
  font-size: xx-large;
  margin-bottom: 20px;
}
.text h1 span{
  color: #28a745;
}
.text p{
  margin-bottom: 20px;
}
.text button{
  background-color: #4CAF4F;
  color: #fff;
  border: none;
  border-radius: 1px;
  font-family: sans-serif;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
.text button span{
  padding: 12px 20px;
}
/* .reticencias img{
  padding: 80px;
  align-items: center;
  justify-content: center;
} */
.dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
  gap: 10px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #d0d0d0;
  transition: background-color 0.3s;
}

.dot.active {
  background-color: #28a745;
}

